streamlit
biopython
pandas
numpy
requests
scikit-learn
logomaker
py3Dmol
reportlab
git+https://github.com/facebookresearch/esm.git
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
